// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: $body-background !important;
  padding: 15px;
}

a:visited{
  color: $white;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
// .header {
//   padding: .5em 0;
// }

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header a img{
  height: 75px;
  margin: 1em;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

.wrapper.secondary {
  background: #f3f3f3;
}

.sub_footer{
  margin-top: 15px !important;
  background: $body-background !important;

  p{
    font-size: 10px;
  }
}
