---
layout: index-layout
subject: My Email Templates
---

<spacer size="16"></spacer>

<container>

  <spacer size="24"></spacer>
  
  <row>
    <columns small="12">

    <p style="color: #484848; line-height: 1.5;">Use the links below to view the various email templates available</p>

    <spacer size="16"></spacer>

    <center>
      <menu class="vertical">
          <item href="{{root}}dpti_default.html" target="_blank">DPTI Template</item>
      </menu>
    </center>

    <spacer size="16"></spacer>

    </columns>
  </row>
</container>

<spacer size="16"></spacer>




