<container class="footer bg-dark">
  <footer
    class="footer pt-5 pb-3 bg-dark text-light"
    style="bottom: 0; position: relative;"
  >
    <div class="container">
      <div class="">
        <nav class="pl-md-0 px-1 px-md-0 d-flex justify-content-center">
          <ul
            class="col-left list-inline d-flex justify-content-center justify-content-md-start m-0"
          >
            <li class="px-2 px-md-3">
              <a
                style="color: #d7dce0 !important;"
                href="http://dpti.sa.gov.au/about_us"
                >About Us</a
              >
            </li>
            <li class="px-2 px-md-3">
              <a
                style="color: #d7dce0 !important;"
                href="http://dpti.sa.gov.au/contact_us"
                >Contact Us</a
              >
            </li>
            <li class="px-2 px-md-3">
              <a
                style="color: #d7dce0 !important;"
                href="https://dpti.sa.gov.au/careers"
                rel="noreferrer"
                target="_blank"
                >Careers</a
              >
            </li>
            <li class="px-2 px-md-3">
              <a
                style="color: #d7dce0 !important;"
                href="http://dpti.sa.gov.au/updates/news_search"
                >News</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-12 px-0">
        <hr class="mb-5 hr-border" />
      </div>
      <div class="row">
        <center>
          <div class="info-text px-5 px-md-2 px-lg-0">
            <ul
              class="list-inline d-flex justify-content-center flex-wrap flex-md-nowrap pr-md-2"
            >
              <li>
                <a
                  style="color: #d7dce0 !important;"
                  href="http://dpti.sa.gov.au/freedom_of_information"
                  rel="noreferrer"
                  target="_blank"
                  >Freedom of Information</a
                >
              </li>
              <li>
                <a
                  style="color: #d7dce0 !important;"
                  href="http://dpti.sa.gov.au/accessibility"
                  rel="noreferrer"
                  target="_blank"
                  >Accessibility</a
                >
              </li>
              <li>
                <a
                  style="color: #d7dce0 !important;"
                  href="http://dpti.sa.gov.au/security"
                  rel="noreferrer"
                  target="_blank"
                  >Security</a
                >
              </li>
              <li>
                <a
                  style="color: #d7dce0 !important;"
                  href="http://dpti.sa.gov.au/privacy"
                  rel="noreferrer"
                  target="_blank"
                  >Privacy</a
                >
              </li>
              <li>
                <a
                  style="color: #d7dce0 !important;"
                  href="http://dpti.sa.gov.au/copyright_statement"
                  rel="noreferrer"
                  target="_blank"
                  >Copyright</a
                >
              </li>
              <li class="pr-0">
                <a
                  style="color: #d7dce0 !important;"
                  href="http://dpti.sa.gov.au/website_disclaimer"
                  rel="noreferrer"
                  target="_blank"
                  >Disclaimer</a
                >
              </li>
            </ul>
          </div>
        </center>
      </div>
    </div>
  </footer>
</container>

<container class="sub_footer">
  <p>
    We acknowledge and respect Aboriginal peoples as South Australia’s first
    peoples and nations, we recognise Aboriginal peoples as traditional owners
    and occupants of land and waters in South Australia and that their
    spiritual, social, cultural and economic practices come from their
    traditional lands and waters; and they maintain their cultural and heritage
    beliefs, languages and laws which are of ongoing importance; We pay our
    respects to their ancestors and to their Elders.
  </p>
  <p>
    Information contained in this email message may be confidential and may also
    be the subject of legal professional privilege or public interest immunity.
    Access to this email by anyone else is unauthorised. If you are not the
    intended recipient, any use, disclosure or copying of this document is
    unauthorised and may be unlawful.
  </p>
</container>
